// All modules will need to follow this format. If you are getting the wrong style on h1, its not in the right spot
//  .module
//    h1 - gradient
//    <section>

.module {
  @include remBorderRadius($boxBorderRadius);
  @media #{$notPrint} {
    border: 1px solid $ntapLightGray;
  }
  @include rem(margin-bottom, $gutter);
  overflow:hidden; // prevents IE gradient from showing outside the border -zk
  &.socialFeed {
    background:$ntapWhite;
    @include background-image(linear-gradient(#f5f5f5 10%, $ntapWhite 20%));
   
    @if $browser == "modern"{
      background-image: -ms-linear-gradient(#f5f5f5 10%, $ntapWhite 20%);
    }
    .no-cssgradients & {
      //@include filter-gradient(#f5f5f5, $ntapWhite, vertical);
      background: $ntapWhite;
    }
    .socialTabs {
      @extend .module.socialFeed
    }
  }
  & > h1 {// to prevent bleeding into sections if we use h1 somewhere else later - barkan
    @include border-top-radius($default-border-radius);
    @include remBorderRadiusTop($boxBorderRadius);
    @media #{$notPrint} {
      border-bottom:1px solid $ntapLightGray;
    }
    @include fontComboFull(16,bold);
    @if $device == "phone" {
      @include fontComboFull(13,bold);
    }
    margin-bottom: 0;
    @include rem(padding, $gutter/2 $gutter*1.5);
    //gradient start
    background: $ntapCandyBarColorDark;
    @include background-image(linear-gradient($ntapWhite, $ntapCandyBarColorLight, $ntapCandyBarColorDark));
    @if $browser == "modern"{
      background-image: -ms-linear-gradient($ntapWhite, $ntapCandyBarColorLight, $ntapCandyBarColorDark);
    }
    .no-cssgradients & {
      //@include filter-gradient($ntapWhite, $ntapCandyBarColorDark);
      background: $ntapWhite;
    }
    //gradient end
    
    //rare case of images being in the top gradient like customer showcase 
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  section {
    @include clearfix;
    @include rem(padding, $gutter*1.2 $gutter*1.5); // sp7 - if you need to add padding-bottom tell dasha 
    background: $ntapWhite;
    margin: 0;
    form {
      margin-bottom: 0;
    }
    h1.script {
      @include fontComboScript(25);
    }
    h2 {
      @include fontComboWeight(12,bold);
      @include rem(margin, 0 0 $gutterHalf);

    }
    h2.small {
      b{
         @include fontComboColor(bold, $ntapDeepGray);         
      }
      @include fontComboFull(11, normal, $ntapDeepGray);      
    }
    input.keyWordFind{
      width:80%;
      @include fontSize(11);
    }
    h3 {
      @include fontComboColor(16,$ntapBlue);
      @include rem(margin, 0 0 $gutterHalfXtree 0);
    }
    img {
      //@include rem(margin, 0 0 $gutter $gutter);
    }
    article img {
      //@include rem(margin, 0 0 $gutter 0);
    }
    em {
      color: $ntapGreen;
      font-style: normal;
    }
    p{
      @include fontCombo(11);
    }
    a + p {
      clear: both;
      @include rem(padding-top, $gutter);
    }
    .linkList {
      position: relative;
      margin:0;
      li {
        @include fontSizeLineCombo(11,15);
      }
      + h2 {
        @include rem(margin-top, $gutter);
      }
    }
    img + ul.linkList { // primarily for communities social media page - zk
      @include rem(margin-top,6px);
    }    
    //  gefn: determine if this is stunt driving and decide on this or putting the PDF text in the actual HTML - barkan
    .linkType {
      //display:inline-block;
      @if $browser == "ie7" {
        position: absolute;
        #{$dirTo}: 0;
      }
      //float:$dirTo;
    }
    &:nth-of-type(even) {
      background: $ntapOddColor;
    }
    &.filter {
      background: $ntapWhite;
      @include rem(padding-top, $gutter/2);
    }
    &.additionalFilter{ 
       @extend .filter;
       h2{
          @include rem(padding-top, $gutter);
       }
       select{
         width:80%;
         @include fontSize(11);
         &.topicSearch{
              @include rem(margin-bottom, $gutterXtwo);
           }
       }
       
    }    

    article + article {
      @include rem(margin-top, $gutter);
    }
    .posts {
      h2, p {
        margin-bottom:0;
      }
    }
  }
  .moduleCarousel {
    position: relative;
    .controls {
      display:none;
    }
    .slides{
      @include rem(min-height, 100px);
      @include rem(padding-bottom, $gutter);
    }
    .panel {
      @include rem(min-height, 100px);
      @include rem(padding-bottom, $gutterXtwo); 
    }
    
    .flex-control-nav { 
      text-align: center;
      li {
        margin: 0 3px; 
        display: inline-block; 
        zoom: 1; 
        *display: inline;
       }
    }  
    .flex-control-paging li a {
      width: 10px; 
      height: 10px; 
      display: block; 
      background: $ntapWhite; 
      cursor: pointer; 
      text-indent: -9999px; 
      @include remBorderRadius(20);
      border: 1px solid $ntapLightGray;
      &:hover {
        background: $ntapLightGray; 
      }
      &.flex-active { 
        background: $ntapLightGray; 
        cursor: default; 
      }
    }
  }
  section + section {
    border-top:1px solid $ntapLightGray;
  }

  section:last-child {
    margin-bottom:0;
    @include rem(padding-bottom, $gutter*1.2); //12px
    }
  footer {
    @include clearfix;
    @media #{$notPrint} {
    border-top: 1px solid $ntapLightGray;
    }
    @include rem(margin-top, $gutter);
    @include rem(padding-top, $gutter);
    @include fontCombo(11);
    &.noBorder{
      border-top:none;
    }
    
  }   
  section:last-child {
    @include remBorderRadiusBottom;
  }
  .moduleImage {
    float: $dirTo;
    max-width: 40%;
    padding-#{$dirFrom}: 2%;
  }
  .postTitle{ 
    font-style:italic;}
  .blogTitle{
    display:block;
  }
  
  // Dealing with ltr content on rtl
  @if $direction == "rtl" {
    &[dir="ltr"] {
      text-align: left;
      .linkType {
        float: right;
      }
      .moduleImage {
        float: right;
      }
    }
  }
}

.smallModule {
  @extend .module;
  position: relative;
  @if $device == "desktop" {
    @include breakpoint(800) {
      display: table-cell;
      width:33%;
      @if $browser == "ie7" or $browser == "ie8" {
        padding: 0;
        width:32%;
        margin-#{$dirTo}: 1%;
        section {
          @include rem(padding, $gutter ($gutter*1.5));
        }
      }
      @if $browser == "ie7" {
        float:left;
        section {
          .button {
            display:block;
            clear:both;
          }
        }
      }
      @if $browser == "ie8" {
        section {
          .button {
            display:inline-block;
          }
        }
      }
    }
  }
  

  h1 {
    @include fontCombo(16);
  }
  ul {
    padding-bottom: 1em;
  }
  .moduleImage {
    width: 40%;
    @include rem(margin-#{$dirFrom}, $gutterHalf);
    @include rem(margin-bottom, $gutterHalf);
  }
  iframe.seamless {
    max-width:100% !important;
    margin:0;
    padding:0;
  }
}

.smallModules{
  @include breakpoint(700) {
    display: table;
    //border-spacing only does vertical horizontal, not top right bottom left
    //@include rem(border-spacing, $gutter 0);
    border-spacing: 10px 0;
    //because of border-spacing, we have to fake the margins on the outer container.
    .container1 & {
      @include rem(margin-#{$dirFrom}, -$gutter);
      @include rem(margin-#{$dirTo}, -$gutter);
    }
    @if $device == "phone" {
      @include rem(margin-bottom, $gutter);
    }
  }
}

